<template>
    <table class="table table-hover">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Long Url</th>
                            <th scope="col">Shortlink</th>
                            <th scope="col">Created At</th>
                          </tr>
                        </thead>
                        <tbody>`
                          <tr v-for="link in links.data" v-bind:key="link.id">
                            <th scope="row">1</th>
                            <td>{{ link.longurl || null }}</td>
                            <td>{{ link.shorturl || null }}</td>
                            <td>{{ link.created_at || null }}</td>
                          </tr>
                        </tbody>
      </table>
</template>

<script>
    export default {

        data(){
          return{
            links:{},
          }
        },
        mounted() {
            axios.get('/api/links')
                  .then((res) =>{
                    this.links = res.data;

                    console.log(this.links);
                  });
        }
    }
</script>
